<launch>
  <!-- 脉塔智能 USBCAN-II CAN 通信 Server -->
  
  <arg name="device_type" default="4" doc="设备类型: 3=USBCAN-I, 4=USBCAN-II"/>
  <arg name="device_index" default="0" doc="设备索引号"/>
  <arg name="baudrate" default="500000" doc="波特率: 125000, 250000, 500000, 1000000"/>
  <arg name="enable_rx_thread" default="true" doc="是否启用接收线程"/>

  <node name="can_comm_maita_server" pkg="maita_can_comm" type="can_comm_maita_server.py" output="screen" required="true">
    <param name="device_type" value="$(arg device_type)"/>
    <param name="device_index" value="$(arg device_index)"/>
    <param name="baudrate" value="$(arg baudrate)"/>
    <param name="enable_rx_thread" value="$(arg enable_rx_thread)"/>
  </node>
</launch>