<launch>
  <arg name="spi_bus" default="0" doc="SPI 总线编号 (0=SPI0, 1=SPI1)"/>
  <arg name="spi_device" default="0" doc="SPI 设备编号 (0=CE0, 1=CE1)"/>
  <arg name="bitrate" default="500000" doc="CAN 波特率 (125000, 250000, 500000, 1000000)"/>
  <arg name="enable_rx_thread" default="true" doc="是否启用接收线程"/>
  <arg name="enable_echo" default="true" doc="是否打印收发日志"/>
  <arg name="loopback_test" default="false" doc="是否运行回环测试 (不启动Action Server)"/>
   
  <node name="mcp2515_can_server" pkg="mcp2515_can_driver" type="mcp2515_can_server.py" 
        output="screen" required="true">
    <param name="spi_bus" value="$(arg spi_bus)"/>
    <param name="spi_device" value="$(arg spi_device)"/>
    <param name="bitrate" value="$(arg bitrate)"/>
    <param name="enable_rx_thread" value="$(arg enable_rx_thread)"/>
    <param name="enable_echo" value="$(arg enable_echo)"/>
    <param name="loopback_test" value="$(arg loopback_test)"/>
  </node>
</launch>
